@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}


ul.serslider li ul.ser-list {
  position: absolute;
  bottom: -20px;
  opacity: 0;
  visibility: hidden;
  transition: bottom 1s, opacity 1s, visibility 1s;
}

ul.serslider li:hover ul.ser-list {
  bottom: 35px;
  opacity: 1;
  visibility: visible;
}


.rfm-marquee {
  overflow: hidden;
}